@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
}

 :root {
    --body_background: white;
    --body_color:black;
    --link_color:navy;
 }

 [data-them="dark"]{
    --body_background: #282c34;
    --body_color: white;
    --link_color: cyan;
 }