@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
}

 :root {
    --body_background: white;
    --body_color:black;
    --link_color:navy;
 }

 [data-them="dark"]{
    --body_background: #282c34;
    --body_color: white;
    --link_color: cyan;
 }

.hide {
   opacity: 0;
   transform: translateY(40%);
   transition: all 1s;
}

.show {
   opacity: 1;
   transform: translateY(0);
}

@media(prefers-reduced-motion) {
   .hide {
      transition: none;
   }
}